@model IEnumerable<GymProject.Models.Branch>


<p>
    <a asp-action="Create">Create New</a>
</p>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="css/shop-homepage.css" rel="stylesheet">
<link href="~/css/GlobalStyle.css" rel="stylesheet">
<script src="~/lib/calendar/Calendar_DB_connect.js"></script>
<link href="~/css/gym.css" rel="stylesheet" />

<link href="~/css/form.css" rel="stylesheet" />


<script src="~/js/BranchesMenu.js"></script>
<script src="~/js/Donut3D.js"></script>
<!-- Bootstrap core CSS -->
<link href="~/lib/bootstrap/dist/js/bootstrap.min.js" rel="stylesheet">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/BranchMenu.css" rel="stylesheet" />


<!-- Custom styles for this template -->

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            @if (!User.Identity.IsAuthenticated)
            {


            }
            <div class="text-img-container">
                @*<img class="top-img" src="~/images/brancheDetails.jpg" />*@
                <img class="top-img" src="~/images/HHFS9.jpg" />
                <div class="img-text">הסניפים שלנו</div>
            </div>

            <script src="https://d3js.org/d3.v3.min.js"></script>

            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">

                            <a asp-action="Details" asp-route-id="@item.BranchId"><img class="card-img-top" src="@item.ImagePath" alt=""></a>
                            <div class="g-card-body card-body">
                                <h4 class="g-h4 font-family card-title">
                                    <a asp-action="Details" asp-route-id="@item.BranchId">@Html.DisplayFor(modelItem => item.Name)</a>
                                </h4>
                                <h5 class="g-h5 font-family">@Html.DisplayFor(modelItem => item.BranchAddress.Street)  @Html.DisplayFor(modelItem => item.BranchAddress.Number)</h5>
                                <p class="g-card-text card-text font-family">@Html.DisplayFor(modelItem => item.Phone)</p>
                                <a asp-action="Edit" asp-route-id="@item.BranchId">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.BranchId">Delete</a>
                            </div>
                            @*<div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>*@
                        </div>
                    </div>
                }
            </div>


            <!-- /.row -->
        </div>
        
        <!-- /.col-lg-9 -->
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="https://d3js.org/d3.v3.min.js"></script>*@
    <div id="graphMap" class="pull-right">

    </div>
    </body>
