@model IEnumerable<GymProject.Models.Lesson>

@{
    ViewData["Title"] = "חיפוש  שיעור";
}
<link rel="stylesheet" href="~/css/GlobalStyle.css" />
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="~/js/Lessons.js"></script>
<h2>חיפוש  שיעור</h2>
<div class="row SearchTxtBoxWrapper pull-right col-md-12">
    <div class="col-md-3 pull-right">
        <select asp-items="@(new SelectList(ViewBag.citiesLst,"-עיר-"))" class="form-control"></select>
    </div>
    @*<div class="col-md-4 pull-right">
            <input type="text" class="form-control" placeholder="עיר">
        </div>*@
    @*<div class="col-md-3  pull-right">
            <input type="text" class="form-control" placeholder="אימון">
        </div>*@
    <div class="col-md-3 pull-right">
        <select asp-items="@(new SelectList(ViewBag.traningLst,"-עיר-"))" class="form-control"></select>
    </div>
    <div class="col-md-3 pull-right">
        <input type="text" class="form-control" placeholder="תאריך">
    </div>
    <label class="btn btn-danger">
        <input type="button" style="display:none">
        חפש <span class="glyphicon glyphicon-search"></span>
    </label>
</div>
@*commented by yaelf: should be only in admin role*@
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table pull-right">
    <thead>
        <tr>
            <th>
                <label class="pull-right">תאריך</label>
            </th>
            <th>
                <label class="pull-right">יום בשבוע</label>
            </th>
            <th>
                <label class="pull-right">שעת התחלה</label>
            </th>
            <th>
                <label class="pull-right">שעת סיום</label>
            </th>
            <th>
                <label class="pull-right">שם מורה</label>
            </th>
            <th>
                <label class="pull-right">מספר משתתפים מקסימלי</label>
            </th>
            <th>
                <label class="pull-right">מספר משתתפים</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @*TODO:implement function to add zero in hours and dates format*@
        @foreach (var item in Model)
        {
            <tr class="regRow">
                <td>
                    @*@Html.DisplayFor(modelItem => item.StartTime.Date)*@
                    <p>@item.StartTime.Day/@item.StartTime.Month/@item.StartTime.Year</p>
                </td>
                <td>
                    <p>@item.StartTime.DayOfWeek</p>
                </td>
                <td>
                    <p>@item.StartTime.Hour:@item.StartTime.Minute</p>
                </td>
                <td>
                    <p>@item.EndTime.Hour:@item.EndTime.Minute</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.RegistrantMax)*@
                    <p name="regmax">@item.RegistrantMax</p>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.RegistrantNum)*@
                    <p name="regnum">@item.RegistrantNum</p>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LessonId" name="edit">ערוך</a> |
                    <a asp-action="Details" asp-route-id="@item.LessonId" name="details">פרטים</a> |
                    <a asp-action="Delete" asp-route-id="@item.LessonId" name="delete">מחק</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<iframe src='~/lib/Calendar/calendar.html' width="800px" height="500px"></iframe>
